body{
    background-color:black;
    color:white;
}
.icon {
    width: 2rem;
    height: 2rem;
    color: white;
}

*{
    cursor: none;
}

@media (hover: none) and (pointer: coarse) {
    .cursor-dot,
    .cursor-ring {
        display: none;
    }

    * {
        cursor: auto;
    }
}

.cursor-dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* IMPORTANT */
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease, width 0.15s ease, height 0.15s ease;
    z-index: 9999;
}

.cursor-ring {
    width: 32px;
    height: 32px;
    border: 2px solid white;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}